# Aidan Elliott

## Research question/interests

Most scientists agree that climate change has been significantly accelerated due to human expansion. The rate at which countries emmit C02 varies greatly due to population, gdp, etc. However, I want to explore whether the more carbon a country emits affects their increase in temperature locally greater than their global affect. We can get significant insight to this question by examining a dataset containing emission data by country over time with another dataset tracking average temperature by country over time.

# Importing my Datasets

In [ ]:
import pandas as pd
df_em = pd.read_csv("../data/raw/owid_emissions.csv") #Emissions dataframe
df_em.head(5)

,country,year,iso_code,population,gdp,cement_co2,cement_co2_per_capita,co2,co2_growth_abs,co2_growth_prct,...,share_global_cumulative_other_co2,share_global_flaring_co2,share_global_gas_co2,share_global_luc_co2,share_global_oil_co2,share_global_other_co2,total_ghg,total_ghg_excluding_lucf,trade_co2,trade_co2_share
0,Afghanistan,1850,AFG,3752993.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.121,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,1851,AFG,3769828.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.118,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,1852,AFG,3787706.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.116,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,1853,AFG,3806634.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.115,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,1854,AFG,3825655.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.114,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_tp = pd.read_csv("../data/raw/GlobalLandTemperaturesByCountry.csv")
df_tp.head(5)

           dt  AverageTemperature  AverageTemperatureUncertainty Country
0  1743-11-01               4.384                          2.294   Ã…land
1  1743-12-01                 NaN                            NaN   Ã…land
2  1744-01-01                 NaN                            NaN   Ã…land
3  1744-02-01                 NaN                            NaN   Ã…land
4  1744-03-01                 NaN                            NaN   Ã…land

# Cleaning Emissions Dataset

This dataset has many NaN values for years when data was tracked nicely. Because of this, I am getting rid of any data before the year 1930.

In [ ]:
df_em = [df_em["year"] > 1930]
df_em

[0        False
 1        False
 2        False
 3        False
 4        False
          ...
 46518     True
 46519     True
 46520     True
 46521     True
 46522     True
 Name: year, Length: 46523, dtype: bool]